<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="saglikDBEntities_1" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HEPTER10;initial catalog=saglikDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>